{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky" style="max-height:calc(100vh - 9rem);overflow-y:auto">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src= "{{ s.image }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
  {% endif %}
  </div>
{% else %}
<style>
  article.page {width:100%;text-align:justify}
  h2 {padding-top:20px;margin-bottom:5px}
  p.teasers, p.links {margin-top:20px}
  #bibtex {clear:both}
</style>
{% endif %}